page-home {
    ion-content{
        background-image: url('../../assets/imgs/bg1.jpg');
    }
    #btnMain{
        
        font-size: 30px;
        position: relative;
        top: 300px;
        left: 40px
    }
   
}
